:root {
    --image-size: 650px;
}

.round-button {
    display: inline-block;

    padding: 1em;
    margin: 1em;

    text-decoration: none;

    border: 1px solid black;
    border-radius: 4px;
}

.center {
    display: flex;
    justify-content: center;
}

div.image-container {
    display: inline-flex;
    vertical-align: middle;
    width: var(--image-size);
    height: var(--image-size);
}

div.image-container img {
    margin: auto;
    max-width: var(--image-size);
    max-height: var(--image-size);
}
