<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{example_id}}</title>
    </head>
    <body>
        <p>
            <img src="{{url_for('static',filename = 'images/example_original_%s.jpg'|format(example_id))}}" width="650" height="650" alt="Original">
            <img src="{{url_for('static',filename = 'images/example_restored_%s.jpg'|format(example_id))}}" width="650" height="650" alt="Restored">
        </p>
        <p>
        {% if example_id > 0 %}
            <a href="{{example_id-1}}">
                <img src="{{url_for('static',filename = 'buttons/previous.jpg')}}" width="150" height="50">
            </a>
        {% endif %}
        {% if example_id < max_example_id %}
            <a href="{{example_id+1}}">
                <img src="{{url_for('static',filename = 'buttons/next.jpg')}}" width="150" height="50">
            </a>
        {% endif %}
        </p>
        <p>
            <a href="../examples">
                Examples
            </a>
        </p>
    </body>
</html>