<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page_title}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
        {% include '_nav.html' %}
        <div id="content">
            <p class="center-children">
                List of examples:
            </p>
            <div class="center-children">
                {% for i in range(max_example_id+1) %}
                <a class="round-button" href="{{ url_for('examples.get_example', example_id=i) }}">
                    <p>{{i}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>