<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Examples</title>
    </head>
    <body>
        <p>
            List of examples:
        </p>
        <a href="examples/0">
            <p>0</p>
        </a>
        <a href="examples/1">
            <p>1</p>
        </a>
        <a href="examples/2">
            <p>2</p>
        </a>
        <a href="examples/3">
            <p>3</p>
        </a>
        <a href="examples/4">
            <p>4</p>
        </a>
        <a href="examples/5">
            <p>5</p>
        </a>
        <a href="examples/6">
            <p>6</p>
        </a>
        <a href="examples/7">
            <p>7</p>
        </a>
        <a href="examples/8">
            <p>8</p>
        </a>
        <a href="examples/9">
            <p>9</p>
        </a>
    </body>
</html>