<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{example_id}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
        <div class="center">
            <div class="image-container">
                <img src="{{url_for('static',filename = 'images/example_original_%s.jpg'|format(example_id))}}" alt="Original">
            </div>
            <div class="image-container">
                <img src="{{url_for('static',filename = 'images/example_restored_%s.jpg'|format(example_id))}}" alt="Restored">
            </div>
        </div>
        <div class="center">
        {%- if example_id > 0 %}
            <a href="{{example_id-1}}">
                <img src="{{url_for('static',filename = 'buttons/previous.jpg')}}" width="150" height="50">
            </a>
        {%- else %}
            <div style="width: 150px; height: 50px;"></div>
        {%- endif %}
        {%- if example_id < max_example_id %}
            <a href="{{example_id+1}}">
                <img src="{{url_for('static',filename = 'buttons/next.jpg')}}" width="150" height="50">
            </a>
        {%- else %}
            <div style="width: 150px; height: 50px;"></div>
        {%- endif %}
        </div>
        <p>
            <a href="../examples">
                Examples
            </a>
        </p>
    </body>
</html>