<!doctype html>
<html lang="en">
<head>
<title>{{page_title}}</title>
<link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
{%- include '_nav.html' %}

<div id="content" class="center-children">
    <form method=post enctype=multipart/form-data>
        {%- if error %}
            <div class="error-box">{{ error | e }}</div>
        {%- endif %}
        <input type=file name=file><br>
        <div style="text-align: center">
            <input class="round-button" type=submit value=Restore>
        </div>
    </form>
</div>